/* estilos.css */

body {
        /* Centrar a página */
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        
        /*
        text-align: center;
        */
        font-size: 150%;
}


a { text-decoration: none; }

ul {
    /* list-style-position: inside; */
    list-style-type:none;
   }
   
li {
    background-image: url('aluno_32.png');
    background-repeat: no-repeat;
    padding-left: 35px;
    margin-bottom: 10px;
    }   
   
   
   
   



